<h4 class="d-flex">
  <a routerLink="{{mainLink}}">
    <ng-content/>
  </a>
  @if (childrenLink !== undefined){
    <a class="a" (click)="onClickExpand()">
      <mat-icon *ngIf="!isExpanded()">expand_more</mat-icon>
      <mat-icon *ngIf="isExpanded()">expand_less</mat-icon>
    </a>
  }
</h4>
@if (childrenLink !== undefined){
  @if (childrenLink.length > 0) {
    <div #subMenu class="link-submenu-container">
      @for (link of childrenLink; track link) {
        <h5 class="ps-3"><a routerLink="{{link.path}}">{{link.label}}</a></h5>
      }
    </div>
  }
}


