a{
  text-decoration: none;
}

h4{
  display: flex;
  gap: 10px;
  a{
    cursor: pointer;
    display: block;
    mat-icon{
      padding-top: 2px;
      font-size:32px;
      height: 32px;
      width: 32px;
    }
  }
}
h5{
  font-size: 1.5rem;
}
.link-submenu-container{
  overflow: hidden;
}
