<div class="container">
  <div class="row">
    <div class="col">
      <h1 ptfFadeInFromLeft [duration]="0.6">
        Erreur 404 - Page manquante.
      </h1>
      <p ptfFadeInFromLeft [duration]="0.5" [delay]="0.1">On dirait que cette page est restée bloquée dans un commit non poussé.</p>
      <a mat-raised-button color="accent" ptfFadeInFromLeft [duration]="0.4" [delay]="0.2" [routerLink]="['/']">
        Retour en page d'accueil
      </a>
    </div>
  </div>
  <div class="row mt-4 d-sm-block d-none" ptfFadeInFromTinyAnimation [duration]="0.3" [delay]="0.3">
    <div class="col d-flex justify-content-center">
      <div class="game-container">
        <div class="game-window">
          <canvas id="gameCanvas"></canvas>
          <div class="game-foreground"></div>
        </div>
        <div class="game-led">
          <div class="led">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <p>BATTERY</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ptf-big-title>Erreur</ptf-big-title>
