a{
  text-transform: uppercase;
  font-weight: bold;
}
.game-container {
  display: inline-block;
  padding: 60px 114px 55px;
  height: 100%;
  background: #918C92;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25) inset;
  border-radius: 23px 23px 111px 23px;
  border: 3px #918C92 solid;
  position: relative;
  @media screen and (max-width: 1200px) {
    padding: 60px 70px 55px;
    border-radius: 23px;
  }
  @media screen and (max-width: 768px) {
    padding: 10px 20px 5px;
    border-radius: 8px;
  }

  .game-led {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
    position: absolute;
    top: 80px;
    left: 34px;
    @media screen and (max-width: 1200px) {
      left: 10px;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
    p {
      margin: 0;
      color: white;
      font-size: 12px;
      font-family: Roboto;
      font-weight: 800;
      word-wrap: break-word;
      text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
    }

    .led {
      width: 15px;
      height: 15px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      div{
        border-radius: 9999px;
        position: absolute
      }

      div:nth-child(1) {
        width: 15px;
        height: 15px;
        background: #A7A7A7;
        box-shadow: 2px 2px 0px black inset;
      }

      div:nth-child(2) {
        width: 19px;
        height: 19px;
        background: #F06B7D;
        border-radius: 9999px;
        filter: blur(4px);
        position: absolute
      }

      div:nth-child(3) {
        width: 11px;
        height: 11px;
        background: #A54046;
        border-radius: 9999px;
        filter: blur(4px);
        position: absolute
      }

      div:nth-child(4) {
        width: 7px;
        height: 7px;
        background: #c5a7a8;
        border-radius: 9999px;
        filter: blur(4px);
        position: absolute
      }
    }
  }

  .game-window {
    position: relative;

    canvas {
      border-radius: 4px;
      background: #899D58;
      box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.25) inset, -7px -7px 7px rgba(218, 245, 40, 0.25) inset;
      border-left: 1px #6d6c6e solid;
      border-top: 1px #6d6c6e solid
    }


    .game-foreground {
      width: 100%;
      height: 200px;
      top: 0;
      left: 0;
      background: linear-gradient(318deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
      border-radius: 4px;
      border-right: 1px #b1b1b1 solid;
      border-bottom: 1px #b1b1b1 solid;
      position: absolute;
    }

  }

}
