<div class="app-container">
  <ptf-menu-burger (click)="openMenu = !openMenu" [closed]="!openMenu"></ptf-menu-burger>
  <ptf-header class="sticky-top"></ptf-header>
  <router-outlet></router-outlet>
  <ptf-menu-carousel class="d-none d-sm-block" [links]="links" (buttonClicked)="buttonClicked($event)"/>
  <ptf-menu-carousel-tablet class="d-block d-sm-none" [links]="links" (buttonClicked)="buttonClicked($event)"/>
  <ptf-article></ptf-article>
</div>
<ptf-menu *ngIfAnimated="openMenu" (closed)="openMenu = false" ptfFadeIn [duration]="0.3" [links]="links"></ptf-menu>


