.app-container{
  background-image: url('/assets/images/fond_accueil.png');
  background-size: cover;
  background-position: center center;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  ptf-menu-carousel{
    top: 50%;
  }
}
