.app-window {
  position: absolute;
  height: calc(100% - 100px);
  width: calc(100% - 85px);
  left: 85px;
  top: 100px;
  border-radius: 4px;
  @media (max-width: 575px) {
    height: calc(100% - 75px);
    top: 75px;
    width: 100%;
    left: 0;
  }
}


.app-body {
  height: 100%;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #FFF;
  background: #FFF;
  overflow: auto;
  position: relative;

  .app-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      transform: translate3d(-50%, -50%, 0);
      top: 50%;
      left: 50%;
      width: 100px;
    }
  }

  .app-body-img {
    width: 100%;
    height: 250px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .app-body-content {
    padding: 10px;
  }

  .app-footer {
    background: rgb(248, 248, 248);
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;

      &:after {
        content: '';
        display: block;
        height: 24px;
        border-radius: 25%;
        width: 24px;
        border: 2px solid #575757;
      }
    }
  }
}
