<div class="app-window" [style.z-index]="1027" *ngIfAnimated="display" ptfFadeInFromTinyAnimation [duration]="0.3">
  <div class="app-body"
       [style.overflow]="loaderEnd?'':'hidden'">
    @if (mainImg) {
      <div class="app-body-img">
        <img src="{{mainImg}}" alt="">
      </div>
    }
    <article class="app-body-content">
      <h1>{{ title }}</h1>
      <div [innerHTML]="content">

      </div>
    </article>
    <div class="app-footer">
      <button (touchend)="closed(title)">
      </button>
    </div>
    <div class="app-loader" ptfFadeOutAnimation [delay]="1.5" [duration]="0.5">
      <img src="{{iconImg}}" [alt]="iconImg">
    </div>
  </div>

</div>
