<div class="popup-window" [class.main-focus]="mainFocus" (mousedown)="clicked()" #popupWindow [style.z-index]="zIndex"
     *ngIfAnimated="display" ptfFadeInFromTinyAnimation [duration]="0.3">
  <div class="popup-header" (dblclick)="growWindow($event)" (mousedown)="onDragStart($event)" (mouseup)="onDragEnd()">
    <div class="popup-header-title-group">
      <div class="popup-header-title-icon">
        <img src="{{iconImg}}" [alt]="iconImg">
      </div>
      <p class="popup-header-title-label">{{ title }}</p>
    </div>

    <div class="popup-header-button-group">
      <button (click)="growWindow($event)" class="popup-header-button-grow">
        <mat-icon>{{ mainFocus ? 'filter_none' : 'crop_square' }}</mat-icon>
      </button>
      <button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="popup-body"
       [style.overflow]="loaderEnd?'':'hidden'">
    @if (mainImg) {
      <div class="popup-body-img">
        <img src="{{mainImg}}" alt="">
      </div>
    }
    <article class="popup-body-content">
      <h1>{{ title }}</h1>
      <div [innerHTML]="content">

      </div>
    </article>
    <div class="popup-loader" ptfFadeOutAnimation [delay]="1.5" [duration]="0.5">
      <img src="{{iconImg}}" [alt]="iconImg">
      <mat-progress-spinner
        class="example-margin"
        color="accent"
        mode="determinate"
        [value]="valueSpinner">
      </mat-progress-spinner>
    </div>
  </div>


  <div class="resize-handle top" (mousedown)="onResizeStart($event, 'top')"></div>
  <div class="resize-handle right" (mousedown)="onResizeStart($event, 'right')"></div>
  <div class="resize-handle bottom" (mousedown)="onResizeStart($event, 'bottom')"></div>
  <div class="resize-handle left" (mousedown)="onResizeStart($event, 'left')"></div>

  <div class="resize-handle top-left" (mousedown)="onResizeStart($event, 'top-left')"></div>
  <div class="resize-handle top-right" (mousedown)="onResizeStart($event, 'top-right')"></div>
  <div class="resize-handle bottom-left" (mousedown)="onResizeStart($event, 'bottom-left')"></div>
  <div class="resize-handle bottom-right" (mousedown)="onResizeStart($event, 'bottom-right')"></div>
</div>
