.popup-window {
  position: absolute;
  top: 150px;
  left: 200px;
  width: 700px;
  height: 500px;
  border-radius: 4px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 1021;

  &.main-focus {
    transition: height 0.3s, width 0.3s, left 0.3s, top 0.3s;
    height: calc(100% - 100px) !important;
    width: calc(100% - 85px) !important;
    left: 85px !important;
    top: 100px !important;
    @media (max-width: 575px) {
      width: 100% !important;
      left: 0 !important;
    }

    .popup-header-button-grow {
      padding: 7px !important;

      mat-icon {
        font-size: 20px;
        width: 20px;
        height: 20px;
      }
    }
  }

  &:not(.main-focus) {
    .popup-header {
    }
  }
}


.popup-header {
  border-radius: 4px 4px 0px 0px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  cursor: default;
  user-select: none;

  .popup-header-title-group {
    padding: 5px 7px;
    display: flex;
    align-items: center;
    gap: 4px;

    .popup-header-title-icon {
      height: 15px;
      width: 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
      }
    }

    .popup-header-title-label {
      color: #575757;
      font-style: italic;
      font-weight: 400;
      font-size: 12px;
      margin: 0;
    }
  }

  .popup-header-button-group {
    display: flex;
    align-items: center;
    gap: 4px;

    button {
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      color: #575757;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }

      &:nth-child(2) {
        border-radius: 0px 4px 0px 0px;

        &:hover {
          background: rgba(255, 0, 0, 0.5);
        }
      }
    }
  }
}

.popup-body {
  height: calc(100% - 35px);
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #FFF;
  background: #FFF;
  overflow: auto;
  position: relative;

  .popup-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      transform: translate3d(-50%, -50%, 0);
      top: 50%;
      left: 50%;
      width: 50px;
    }
  }

  .popup-body-img {
    width: 100%;
    height: 250px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .popup-body-content {
    padding: 20px 5%;
  }
}

/* Poignées pour redimensionner */

.resize-handle {
  position: absolute;
  background: transparent;
}

.popup-window:not(.main-focus) {
  .resize-handle.top {
    cursor: n-resize;
  }

  .resize-handle.right {
    cursor: e-resize;
  }

  .resize-handle.bottom {
    cursor: s-resize;
  }

  .resize-handle.left {
    cursor: w-resize;
  }

  /* Coins pour le redimensionnement diagonal */
  .resize-handle.top-left {
    cursor: nw-resize;
  }

  .resize-handle.top-right {
    cursor: ne-resize;
  }

  .resize-handle.bottom-left {
    cursor: sw-resize;
  }

  .resize-handle.bottom-right {
    cursor: se-resize;
  }


}

.resize-handle.top {
  top: -5px;
  left: 0;
  right: 0;
  height: 10px;
}

.resize-handle.right {
  right: -5px;
  top: 0;
  bottom: 0;
  width: 10px;
}

.resize-handle.bottom {
  bottom: -5px;
  left: 0;
  right: 0;
  height: 10px;
}

.resize-handle.left {
  left: -5px;
  top: 0;
  bottom: 0;
  width: 10px;
}

/* Coins pour le redimensionnement diagonal */
.resize-handle.top-left {
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
}

.resize-handle.top-right {
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
}

.resize-handle.bottom-left {
  bottom: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
}

.resize-handle.bottom-right {
  bottom: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
}
