<div class="background">
  @for (creation of creations; track creation; let index = $index) {
    <ptf-icon-desktop ptfFadeInFromLeft [duration]="0.3" [delay]="index * 0.1" (clicked)="clicked($event)"
                      [iconText]="creation.title" [iconSrc]="creation.iconSrc"></ptf-icon-desktop>
  }

</div>
@for (creation of creations; track creation) {
  @if(creation.display){
    <ptf-popup-desktop [mainFocus]="creation.mainFocus" [title]="creation.title" [iconImg]="creation.iconSrc"
               [mainImg]="creation.mainImg" [content]="creation.content" [zIndex]="creation.zIndex" (closed)="closed($event)" (focused)="clicked($event)" (windowGrown)="windowGrown($event)">
    </ptf-popup-desktop>
  }
}
