<ptf-big-title>Présentation</ptf-big-title>
<div class="container position-relative z-2">
  <div class="row">
    <div class="col-1 d-sm-block d-lg-none d-none"></div>
    <div class="col-lg-10"><h1 class="text-end" ptfFadeInFromRight [duration]="0.6">VIVIEN LEZIN</h1></div>
  </div>
  <div class="row">
    <div class="col-1 d-sm-block d-lg-none d-none"></div>
    <div class="col-lg-10"><h4 class="text-end" ptfFadeInFromRight [duration]="0.5" [delay]="0.1">DEVELOPPEUR WEB
      FULLSTACK</h4></div>
  </div>
  <div class="row">
    <div class="col-1 d-sm-block d-none"></div>
    <div class="col col-sm-8 d-flex flex-column align-items-end">
      <p class="text-end" ptfFadeInFromRight [duration]="0.4" [delay]="0.2">Je suis tombé dans la programmation
        informatique. Et depuis, je suis toujours en recherche de connaissances.</p>
      <button mat-raised-button color="accent" (click)="onClickPresentation()" ptfFadeInFromRight [duration]="0.3" [delay]="0.3">A PROPOS
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </div>
</div>
<img src="./assets/images/vivien_opacity.png" ptfFadeIn [duration]="3" class="home-img-1 d-none d-md-block">
<img src="./assets/images/vivien_opacity.png" ptfFadeIn [duration]="3" [delay]="3" class="home-img-2">
