img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  pointer-events: none;
  user-select: none;
}

.home-img-1 {
  z-index: 0;
  mix-blend-mode: color-burn;
}

.home-img-2 {
  z-index: 1;
  opacity: 0.3;
  mix-blend-mode: multiply;
}

p {
  font-size: 1.4rem;
}

