.background {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  z-index: 0;
  opacity: 0.15;
  mix-blend-mode: difference;
  filter: blur(3px);
  height: 100%;
  user-select: none;

  &:nth-child(1) {
    z-index: 0;
    mix-blend-mode: color-burn;
  }

  &:nth-child(2) {
    z-index: 1;
    mix-blend-mode: multiply;
  }
}

.container-experience {
  display: grid;
  grid-template-columns: repeat(3, auto) 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  height: calc(100dvh - 140px - 8vw - 40px);
  @media screen and (max-width: 575px) {
    height: calc(100dvh - 170px);
  }
  @media screen and (max-width: 991px) {
    grid-template-columns: repeat(3, auto);
  }

  .container-article {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 6;
    position: relative;
    z-index: 2;

    .article {
      padding: 16px;
      position: relative;
      width: 100%;
      background-color: #fafafa;
      background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
      border: solid 1px #eaeaea;
      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
      border-radius: 4px;

      .subtitle{
        margin: 0;
        font-size: 12px;
        font-family: Montserrat;
        font-weight: 275;
        text-transform: uppercase;
        word-wrap: break-word
      }
      h4 {
        font-size: 18px;
        font-family: Asap;
        font-style: italic;
        font-weight: 700;
        text-transform: uppercase;
        word-wrap: break-word;
      }
      p {
        font-size: 14px;
        font-weight: 500;
        word-wrap: break-word;

      }
    }
  }

  button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    top: 0;
    right: 0;
  }

  .container-left {
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    text-align: right;

    img {
      height: 25px;
    }

    h4 {
      margin: 0;
      color: #414141;
      font-size: 20px;
      font-family: Asap;
      font-style: italic;
      font-weight: 700;
      text-transform: uppercase;
      word-wrap: break-word
    }

    h5 {
      margin: 0;
      color: #414141;
      font-size: 16px;
      font-family: Montserrat;
      font-weight: 400;
      text-transform: uppercase;
      word-wrap: break-word
    }
  }

  .container-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      margin-bottom: -4px;
      color: #414141;
      font-size: 12px;
      font-family: Asap;
      font-style: italic;
      font-weight: 400;
      text-transform: uppercase;
      word-wrap: break-word;
    }

    h4 {
      margin: 0;
      color: #414141;
      font-size: 24px;
      font-family: Asap;
      font-style: italic;
      font-weight: 700;
      text-transform: uppercase;
      word-wrap: break-word
    }

  }
}

.container-middle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .round {
    position: absolute;
    top: 20px;
    width: 43px;
    height: 43px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }

  ptf-timeline-button {
    position: relative;
    top: 20px;
    z-index: 3;
  }

}

.trait {
  z-index: 2;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: span 5;
  background-color: white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  width: 10px;
  position: absolute;
  top: 40px;
}
