<img class="background d-none d-md-block" src="./assets/images/experience_background.png" ptfFadeIn [duration]="3">
<img class="background" src="./assets/images/experience_background.png" ptfFadeIn [duration]="3" [delay]="3">
<div class="container">
  <div class="container-experience">
    @for (experience of experiences; track experience; let first = $first, count = $count, index = $index) {
      <div class="container-left">
        <a href="{{experience.url}}" target="_blank" [title]="experience.title" ptfFadeInFromRight
           [duration]="durationEachElement" [delay]="index * durationEachElement - 0.1">
          <img src="{{experience.srcLogo}}" alt="{{experience.title}}">
        </a>
        <h4 class="d-none d-sm-block" ptfFadeInFromRight [duration]="0.4"
            [delay]="index * durationEachElement">{{ experience.title }}</h4>
        <h5 ptfFadeInFromRight [duration]="0.3" [delay]="index * durationEachElement + 0.1">{{ experience.post }}</h5>
      </div>
      <div class="container-middle">
        <div class="round" ptfFadeInFromTinyAnimation [duration]="durationEachElement"
             [delay]="index * durationEachElement - 0.1"></div>
        @if (first) {
          <div class="trait" #trait></div>
        }
        <ptf-timeline-button ptfFadeInFromTinyAnimation [duration]="durationEachElement"
                             [delay]="(index) * durationEachElement - 0.1"
                             [active]="experience.title === experienceToDisplay?.title"
                             (click)="timelineClicked(experience)"></ptf-timeline-button>
      </div>
      <div class="container-right">
        <p ptfFadeInFromLeft [duration]="durationEachElement + 0.1"
           [delay]="(index) * durationEachElement - 0.1">{{ experience.to.month }}</p>
        <h4 ptfFadeInFromLeft [duration]="durationEachElement"
            [delay]="(index) * durationEachElement">{{ experience.to.year }}</h4>
        <p ptfFadeInFromLeft [duration]="durationEachElement - 0.1"
           [delay]="(index) * durationEachElement + 0.1">{{ experience.from.month }}</p>
        <h4 ptfFadeInFromLeft [duration]="durationEachElement - 0.2"
            [delay]="(index) * durationEachElement + 0.2">{{ experience.from.year }}</h4>
      </div>
      @if (first) {
        <div class="d-lg-block d-none container-article">
          <div class="article" *ngIfAnimated="displayArticle" ptfFadeInFromLeft [duration]="durationEachElement">
            @if (!!experienceToDisplay) {
              <div class="d-flex align-items-end" [class.justify-content-between]="experienceToDisplay!.kind"
                   [class.justify-content-end]="!experienceToDisplay!.kind">
                <p *ngIf="experienceToDisplay!.kind" class="subtitle">{{ experienceToDisplay!.kind }}</p>
                <button class="close-button" (click)="timelineClicked()">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <h4>{{ experienceToDisplay!.post }}</h4>
              <article [innerHTML]="experienceToDisplay!.description"></article>
            }
          </div>
        </div>
      }
    }
  </div>
</div>
<ptf-big-title>Expériences</ptf-big-title>
