.article-container-top{
  height: 50px;
  width: 100%;
  background: #8c1d1d;
}
.article-container {
  width: 100%;
  height: calc(100% - 100px);
  background-color: #fafafa;
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  border-top: solid 1px #eaeaea;
  position: absolute;
  top: 100px;
  z-index: 1050;
  overflow-y: auto;
  .image-container {
    width: 150px;
    img{
      width: 100%;
    }
  }
  .row{
    position: relative;
  }
  @media (max-width: 575px) {
    height: calc(100% - 75px);
    top: 75px;
  }
  .sticky-sm-top {
    top: 3rem!important;
  }
  button{
    box-shadow: unset;
    &:hover{
      transform: scale(1.1);
      box-shadow: var(--mdc-fab-small-container-elevation-shadow);
    }
    &:active{
      transform: scale(1);
      transition-duration: 0s;
      transition-property: transform;
    }
  }
}
