<div *ngIfAnimated="display" ptfFromBottomInAnimation [duration]="0.3" class="article-container">
  <div class="container pt-5">
    <div class="row flex-column-reverse flex-sm-row align-items-center align-items-sm-start">
      <div class="col flex-grow-0 d-none d-sm-block" *ngIf="imageUrl">
        <div class="image-container">
          <img src="{{imageUrl}}">
        </div>
      </div>
      <article class="col flex-grow-1">
        <h1>{{title}}</h1>
        <div [innerHTML]="content"></div>
      </article>
      <div class="col flex-grow-0 d-sm-none d-block" *ngIf="imageUrl">
        <div class="image-container py-2 m-auto">
          <img src="{{imageUrl}}">
        </div>
      </div>
      <div class="col flex-grow-0 sticky-sm-top d-flex justify-content-center">
        <button mat-mini-fab color="primary" (click)="onClickClose()">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </div>

    </div>

  </div>
</div>
