<div class="d-flex flex-column align-items-center">
  <h6 *ngIf="label !== undefined" ptfFadeInFromBot [duration]="0.3">{{ label }}</h6>
  <div class="menu-container-buttons d-flex justify-content-between align-items-center">
    @for (link of links(); track link) {
      <ptf-button-carousel
        (mouseover)="onEnterButton(link.label)"
        (mouseleave)="onOutButton()"
        (click)="onClickButtonCarrousel(link)"
        (touchend)="onClickButtonCarrousel(link)"
        [enabled]="link.enabled!"/>
    }
  </div>
</div>
