:host {
  position: absolute;
  z-index: 5;
  bottom: 30px;
  left: 50%;
  .menu-container-buttons {
    bottom: 0;
    position: absolute;
    width: 240px;
  }

  h6 {
    top:-80px;
    position: absolute;
    font-size: calc(2vh + 8px) ;
    font-weight: bolder;
    pointer-events: none;
    text-transform: uppercase;
    margin: 0;
    text-wrap: none;
  }

  ptf-button-carousel{
    transform: rotateZ(90deg);
  }

  img {
    pointer-events: none;
  }
}
