.background {
  position: relative;
  height: calc(100% - 250px);
  max-width: calc(100% - 85px);
  left: 85px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  @media (max-width: 575px) {
    max-width: 100%;
    left: 0;
    height: calc(100% - 170px);
  }
}
