<div class="background">
  @for (creation of creations; track creation; let index = $index) {
    <ptf-icon-mobile ptfFadeInFromLeft [duration]="0.3" [delay]="index * 0.1" (touchend)="clicked(creation.title)"
                     (touchEnd)="clicked($event)"
                     [iconText]="creation.title" [iconSrc]="creation.iconSrc"></ptf-icon-mobile>
  }
</div>

@for (creation of creations; track creation) {
  <ptf-app-mobile [content]="creation.content" [title]="creation.title" [iconImg]="creation.iconSrc" [mainImg]="creation.mainImg" [display]="creation.display" (closed)="closed(creation.title)"></ptf-app-mobile>
}
