<h6 class="position-absolute top-0 text-end" *ngIf="label !== undefined" ptfFadeInFromBot
    [duration]="0.3">{{ label | uppercase }}</h6>
<div class="container-token-group">
  @for (token of skills; track token; let index = $index, count = $count) {
    <ptf-token [token]="token" (click)="tokenSelected.emit(token)" (mouseover)="label=token.name" (mouseleave)="label=undefined" [index]="index" [count]="count" [style.z-index]="1000 + token.highlight"/>
  }
</div>

