:host {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media (max-width: 575px) {
    align-items: center;
  }
}

.container-token-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  $height-token: calc(13vh + 4vw);
  justify-content: center;

  ptf-token {
    z-index: 10;
    height: $height-token;
    cursor: pointer;

    &:hover {
      transition: transform 0.3s;
      transform: scale(1.1);
    }
    &:active {
      transition: unset;
      transform: scale(1);
    }
  }
}
