//Override here variables from bootstrap/scss/variables

$primary: #ffffff;
$secondary: #00bbd4;
$font-family-base: Montserrat, sans-serif;
$headings-font-family: Asap, sans-serif;
$body-color: #222222;
$link-color: $secondary;
$font-size-base: 1.1rem;
$h1-font-size:                $font-size-base * 3.5;
$h2-font-size:                $font-size-base * 3;
$h3-font-size:                $font-size-base * 2.75;
$h4-font-size:                $font-size-base * 2.5;
$h5-font-size:                $font-size-base * 2.25;
$h6-font-size:                $font-size-base;
