/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
//Fonts import
@use "assets/fonts/fonts" as fonts;

@include mat.core();

@import "variables";

$ptf-primary: (
  50: $primary,
  100: #fafafa,
  200: #f5f5f5,
  300: #f0f0f0,
  400: #dedede,
  500: #c2c2c2,
  600: #979797,
  700: #818181,
  800: #606060,
  900: #3c3c3c,
  contrast: (
    50: #222222,
    100: #222222,
    200: #222222,
    300: #222222,
    400: #222222,
    500: #222222,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
);

$ptf-secondary: (
  50: #e0f7fa,
  100: #b2ebf2,
  200: #80deea,
  300: #4dcfe1,
  400: #26c5da,
  500: $secondary,
  600: #00abc1,
  700: #0096a7,
  800: #00828f,
  900: #005f64,
  contrast: (
    50: #222222,
    100: #222222,
    200: #222222,
    300: #222222,
    400: #222222,
    500: #222222,
    600: #222222,
    700: #222222,
    800: #ffffff,
    900: #ffffff,
  )
);

$ptf-primary-palette: mat.define-palette($ptf-primary, 50, 50, 400);
$ptf-secondary-palette: mat.define-palette($ptf-secondary);

$ptf-theme: mat.define-light-theme((
  color: (
    primary: $ptf-primary-palette,
    accent: $ptf-secondary-palette,
  ),
  typography: mat.define-typography-config(
    $font-family: $font-family-base
  ),
  density: 0,
));

@include mat.core-theme($ptf-theme);
@include mat.all-component-themes($ptf-theme);


@include fonts.apply-font();

//Bootstrap imports
@import "bootstrap/scss/bootstrap-utilities";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/bootstrap-reboot";

//@import "simplebar/dist/simplebar.min.css";

html, body {
  overflow: hidden;
  height: 100dvh;
  width: 100vw;
}

h1 {
  font-weight: bolder;
}

h1, h2, h3, h4 {
  font-style: italic;
}

button {
  font-family: Asap !important;
  font-weight: bolder !important;
}

article {

  h2 {
    font-size: 2.5rem !important;
  }

  ul {
    list-style-type: disc;
  }

  h3 {
    font-size: 2rem !important;
  }

  h4 {
    font-size: 1.7rem !important;
    font-weight: normal !important;
  }

  img {
    max-width: 100%;
  }

  table img {
    max-width: unset;
  }

}
