h1{
  width: 100%;
  color: rgba(0, 0, 0, 0.13);
  font-family: Asap;
  font-size: calc(8vw + 20px);
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  padding-left: 20px;
  @media screen and (max-width: 992px) {
    color: rgba(0, 0, 0, 0.3);
  }
}
