:host {
  position: absolute;
  z-index: 1026;
  .menu-container-buttons {
    position: absolute;
    transform: translateY(-50%);
    height: 115px;
    left: 25px;
  }

  h6 {
    position: absolute;
    bottom: 150px;
    font-size: calc(2vh + 8px) ;
    font-weight: bolder;
    pointer-events: none;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    transform: rotateZ(180deg);
    margin: 0;
    text-wrap: none;
  }

  img {
    pointer-events: none;
  }
}
