<div class="menu-container-buttons d-flex flex-column justify-content-between align-items-center">
  <h6 *ngIf="label !== undefined" ptfFadeInFromBot [duration]="0.3">{{ label }}</h6>
  @for (link of links(); track link) {
    <ptf-button-carousel
      (mouseover)="onEnterButton(link.label)"
      (mouseleave)="onOutButton()"
      (click)="onClickButtonCarrousel(link)"
      (touchend)="onClickButtonCarrousel(link)"
      [enabled]="link.enabled!"/>
  }
</div>
