<div class="container-button" [class.button__horizontal]="!isVertical">
  <button [class.button__horizontal-active]="isHard()" (click)="clickEmitter.emit(true)">Hard</button>
  <button [class.button__horizontal-active]="!isHard()" (click)="clickEmitter.emit(false)">Soft</button>
</div>
