:host {
  height: 100%;
}

.container-button {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    border: 1px solid #7FD9D9;
    box-shadow: 0px 0px 10px 0px #40A0A0;
    outline: none;
    height: 92px;
    width: 39px;
    text-transform: uppercase;
    text-orientation: mixed;
    writing-mode: vertical-rl;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    background: white;
    &:active:not(.button__horizontal-active) {
      font-size: 0.95em;
      box-shadow: 0px 0px 10px 0px #40A0A0, 2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
      transition: none;
    }

    &:hover:not(.button__horizontal-active) {
      background-color: #f6f6f6;
    }
    &:nth-child(1) {
      border-radius: 3px 3px 0px 0px;
    }

    &:nth-child(2) {
      border-radius: 0px 0px 3px 3px;
    }


    &.button__horizontal-active {
      color: white;
      background-color: #40A0A0;
      cursor: default;
    }
  }

  &.button__horizontal {
    flex-direction: row;

    button {
      width: 92px;
      height: 39px;
      text-orientation: unset;
      writing-mode: unset;

      &:nth-child(1) {
        border-radius: 3px 0px 0px 3px;
      }

      &:nth-child(2) {
        border-radius: 0px 3px 3px 0px;
      }
    }
  }

}
