@mixin apply-font(){
  @font-face {
    font-family: 'Asap';
    src: url(./Asap/Asap-VariableFont_wdth,wght.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Asap italic';
    src: url(./Asap/Asap-Italic-VariableFont_wdth,wght.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Montserrat';
    src: url(./Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Montserrat italic';
    src: url(./Montserrat/Montserrat-Italic-VariableFont_wght.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(./Material_icons/MaterialIcons-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Retro Gaming';
    font-style: normal;
    font-weight: 400;
    src: url(./retro-gaming/Retro-Gaming.ttf) format('truetype');
  }

  .font-asap{
    font-family: Asap, sans-serif!important;
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }
}
