<img src="./assets/images/skills_background.png" ptfFadeIn [duration]="3">
<ptf-big-title>Compétences</ptf-big-title>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-md-4"></div>
    <div class="col d-flex justify-content-end flex-column-reverse flex-sm-row">
      <ptf-token-group [skills]="skills" (tokenSelected)="onTokenSelected($event)"></ptf-token-group>
      <div class="vertical-button px-sm-4 py-3 px-0 py-sm-0" ptfFadeIn [duration]="1">
        <ptf-vertical-button [isHard]="isHard" (clickEmitter)="onclickButton($event)" [isVertical]="false"
                             class="d-block d-sm-none"/>
        <ptf-vertical-button [isHard]="isHard" (clickEmitter)="onclickButton($event)" class="d-none d-sm-block"/>
      </div>
    </div>
  </div>
</div>
