img {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
  opacity: 0.3;
  mix-blend-mode: difference;
  filter: blur(3.5px);
  height: 100%;
  user-select: none;
}

.container-fluid {
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  .row {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
.vertical-button{
  position: relative;
  top: 0;
}
