@if(enabled){
  <svg xmlns="http://www.w3.org/2000/svg" width="37" height="29" viewBox="0 0 37 29" fill="none" class="d-sm-block d-none">
    <g filter="url(#filter0_d_1_13)">
      <path d="M28.9202 11.3176C29.8418 11.5156 30.5 12.3303 30.5 13.2729L30.5 20.0246C30.5 21.2984 29.3252 22.2476 28.0798 21.98L8.07984 17.6824C7.15822 17.4844 6.5 16.6697 6.5 15.7271L6.5 8.9754C6.5 7.70165 7.67484 6.75244 8.92016 7.02003L28.9202 11.3176Z" fill="#00BCD4"/>
      <path d="M28.9202 11.3176C29.8418 11.5156 30.5 12.3303 30.5 13.2729L30.5 20.0246C30.5 21.2984 29.3252 22.2476 28.0798 21.98L8.07984 17.6824C7.15822 17.4844 6.5 16.6697 6.5 15.7271L6.5 8.9754C6.5 7.70165 7.67484 6.75244 8.92016 7.02003L28.9202 11.3176Z" stroke="#00E2FF"/>
    </g>
    <defs>
      <filter id="filter0_d_1_13" x="0" y="0.474487" width="37" height="28.051" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset/>
        <feGaussianBlur stdDeviation="3"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0.737255 0 0 0 0 0.831373 0 0 0 0.5 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_13"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_13" result="shape"/>
      </filter>
    </defs>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" width="52" height="41" viewBox="0 0 37 29" fill="none" class="d-block d-sm-none">
    <g filter="url(#filter0_d_1_13)">
      <path d="M28.9202 11.3176C29.8418 11.5156 30.5 12.3303 30.5 13.2729L30.5 20.0246C30.5 21.2984 29.3252 22.2476 28.0798 21.98L8.07984 17.6824C7.15822 17.4844 6.5 16.6697 6.5 15.7271L6.5 8.9754C6.5 7.70165 7.67484 6.75244 8.92016 7.02003L28.9202 11.3176Z" fill="#00BCD4"/>
      <path d="M28.9202 11.3176C29.8418 11.5156 30.5 12.3303 30.5 13.2729L30.5 20.0246C30.5 21.2984 29.3252 22.2476 28.0798 21.98L8.07984 17.6824C7.15822 17.4844 6.5 16.6697 6.5 15.7271L6.5 8.9754C6.5 7.70165 7.67484 6.75244 8.92016 7.02003L28.9202 11.3176Z" stroke="#00E2FF"/>
    </g>
    <defs>
      <filter id="filter0_d_1_13" x="0" y="0.474487" width="37" height="28.051" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset/>
        <feGaussianBlur stdDeviation="3"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0.737255 0 0 0 0 0.831373 0 0 0 0.5 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_13"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_13" result="shape"/>
      </filter>
    </defs>
  </svg>
} @else {
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="29" viewBox="0 0 25 17" fill="none" class="d-sm-block d-none">
    <path opacity="0.3" d="M22.9202 5.31756C23.8418 5.51559 24.5 6.33027 24.5 7.27292L24.5 14.0246C24.5 15.2984 23.3252 16.2476 22.0798 15.98L2.07984 11.6824C1.15822 11.4844 0.5 10.6697 0.5 9.72707L0.5 2.9754C0.5 1.70165 1.67484 0.752443 2.92016 1.02003L22.9202 5.31756Z" fill="#6A6A6A" stroke="#808080"/>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" width="52" height="24" viewBox="0 0 25 17" fill="none" class="d-sm-none d-block">
    <path opacity="0.3" d="M22.9202 5.31756C23.8418 5.51559 24.5 6.33027 24.5 7.27292L24.5 14.0246C24.5 15.2984 23.3252 16.2476 22.0798 15.98L2.07984 11.6824C1.15822 11.4844 0.5 10.6697 0.5 9.72707L0.5 2.9754C0.5 1.70165 1.67484 0.752443 2.92016 1.02003L22.9202 5.31756Z" fill="#6A6A6A" stroke="#808080"/>
  </svg>
}
