:host {
  display: flex;
  justify-content: center;
  align-items: center;
}
.side {
  width: 22px;
  height: 10px;
  border-radius: 9999px;
  top: 16px;
  position: absolute;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  background: white;

  &.side-left {
    left: 0;
  }

  &.side-right {
    left: 41px;
  }
}

.container-button {
  position: relative;
  width: 63px;

  .background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    left: 10px;
    position: relative;
    background: white;
    border-radius: 9999px;

    .lentille {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      background: #00BCD4;
      border-radius: 9999px;
      transition: box-shadow 0.3s;

      .lentille-foreground {
        width: 15px;
        height: 15px;
        background: #20A8B9;
        border-radius: 9999px;
        filter: blur(4px);
        transition: background-color 0.3s;
      }
    }
  }

  &:hover, &.active {
    cursor: pointer;

    .lentille {
      box-shadow: 0px 0px 12px 2px #1AFFFF;
    }

    .lentille-foreground {
      background: #4CE1F4 !important;
    }
  }
  &:not(.active) {
    &:active {
      transition: unset;
      .lentille {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
      }
    }
  }

}

