<div class="container-button" [class.active]="active">
  <div class="side side-left"></div>
  <div class="side side-right"></div>
  <div class="background">
    <div class="lentille">
      <div class="lentille-foreground"></div>
    </div>
  </div>
</div>
