:host {
  position: absolute;
  height: 100dvh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.60);
  backdrop-filter: blur(15px);
  z-index: 1050;
  nav {
    width: unset;
    margin: 0 auto;
  }
  .menu-close{
    position: absolute;
    top: calc(1vh + 10px);
    right: calc(1vw + 10px);
    div:hover{
      cursor: pointer;
    }
  }

  .mail, .phone-number{
    margin: 0;
  }

  .mail{
    &:before{
      content: 'contact';
      display: inline;
    }
    &:after{
      content: 'vivien-lezin.fr';
      display: inline;
    }
  }

  .phone-number{
    &:before {
      content: "+33(0)6 32 ";
      display: inline;
    }
    &:after{
      content: '10 49 41';
      display: inline;
    }
  }

  .menu-icon-container {
    mat-icon {
      position: absolute;
      right: -36px;
      transform: scale(0.6);
    }
  }
  .container-fluid {
    height: 100%;
  }

  h1{
    margin: 0;
    font-weight: bolder;
  }

  .menu-divider {
    border: black 2px solid;
    border-radius: 50px;
  }

  .d-sm-none .menu-divider{
    margin: auto;
  }

  d-sm-flex .menu-divider{
    height: 100%;
  }

  d-flex .menu-divider{
    height: 4px;
  }
}
