
<div class="container-fluid align-items-center">
  <div class="row h-100 align-items-center">
    <div class="col-sm-4 d-flex flex-column justify-content-sm-end justify-content-center align-items-center">

      <h1 class="display-1" ptfFadeInFromRight [duration]="(linkIcons.length + 2) * 0.1">MENU</h1>
      <div *ngIfAnimated="!menuExpanded" ptfHeightOutAnimation [duration]="0.3" style="overflow: hidden">
        <div class="d-flex flex-column justify-content-sm-end justify-content-center align-items-center">
          <div class="d-flex gap-3 menu-icon-container align-items-center position-relative mb-2">
            @for (linkIcon of linkIcons; track linkIcon; let index = $index, count = $count) {
              <a target="_blank" href="{{linkIcon.link}}" ptfFadeInFromRight (mouseenter)="onIconOvered(linkIcon)"
                 (mouseleave)="onIconOvered()" [duration]="(count + 2 - index) * 0.1" [delay]="index * 0.1"><img
                src="{{linkIcon.hovered? linkIcon.hover : linkIcon.default}}" alt=""></a>
            }
            <mat-icon ptfFadeInFromLeft *ngIf="iconOvered" [duration]="0.2">open_in_new</mat-icon>
          </div>
          <p class="mail" [innerText]="'@'" ptfFadeInFromRight [delay]="linkIcons.length * 0.1" [duration]="0.2"></p>
          <p class="phone-number" ptfFadeInFromRight [delay]="linkIcons.length * 0.1 + 0.1" [duration]="0.2"></p>
        </div>
      </div>
    </div>
    <div class="col-sm-1 h-50 d-sm-flex justify-content-center align-items-center d-none">
      <div #menuDeviderDesktop class="menu-divider"></div>
    </div>
    <div class="col-sm-1 d-block d-sm-none px-5">
      <div #menuDeviderMobile class="menu-divider"></div>
    </div>
    <nav class="col-sm d-flex flex-column align-items-start">
      @for (link of links; track link; let idx = $index) {
        <ptf-linkMenu ptfFadeInFromLeft [duration]="0.3" [delay]="idx*0.1" class="display-1" [mainLink]="link.path!"
                      [isExpanded]="link.subLink?getCloseMenu(idx):false"
                      (expanded)="link?onExpandMainLink($event,idx):null" [childrenLink]="link.subLink">{{ link.label }}
        </ptf-linkMenu>
      }
    </nav>
  </div>
</div>
