.icon-desktop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 161px;
  height: 104px;
  cursor: pointer;
  user-select: none;

  &:hover {
    border-radius: 5px;
    background: rgba(217, 217, 217, 0.50);
  }

  .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-desktop-triangle {
      width: 17.678px;
      height: 17.678px;
      border-radius: 2px;
      border: 1px solid #E8E8E8;
      background: #FFF;
      position: absolute;
      left: 0;
      bottom: 0;

      mat-icon {
        transform: translate3d(0.5px, -5px, 0px) rotateZ(-45deg);
        color: #40A0A0;
        width: 14px;
        height: 14px;
        font-size: 16px;
      }
    }

    img {
      height: 67px;
      width: 67px;
      object-fit: contain;
    }
  }

  p {
    color: #575757;
    text-align: center;
    text-shadow: 0px 0px 5px #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
}

