<div class="icon-desktop-container" (click)="clicked.emit(iconText)">
  <div class="icon">
    <img src="{{iconSrc}}" alt="{{iconText}}">
    <div class="icon-desktop-triangle">
      <mat-icon>play_arrow</mat-icon>
    </div>
  </div>
  <p>{{iconText}}</p>
</div>
