
header{
  /* Permalink - use to edit and share this gradient. Permalien - à utiliser pour éditer et partager ce gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,1+68,0.7+100 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 68%,rgba(255,255,255,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  @media (max-width: 575px) {
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 68%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
  img{
    max-width: 70px;
    width: 100%;
    @media (max-width: 575px) {
      max-width: 50px;
    }
  }
  h1{
    font-size: 2rem;
    @media (max-width: 575px) {
      font-size: 1.2rem;
    }
  }
  h6{
    font-style: italic;
    @media (max-width: 575px) {
      display: none;
    }
  }
  h1, p {
    margin: 0;
  }
  button{
    box-shadow: unset;
    &:hover{
      transform: scale(1.1);
      box-shadow: var(--mdc-fab-small-container-elevation-shadow);
    }
    &:active{
      transform: scale(1);
      transition-duration: 0s;
      transition-property: transform;
    }
  }
}
.header-bottom{
  height: 40px;
  /* Permalink - use to edit and share this gradient. Permalien - à utiliser pour éditer et partager ce gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.7+0,0+100 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  @media (max-width: 575px) {
    display: none;
  }
}
