<header class="container-fluid px-md-4 py-2 mb-2 mb-sm-0">
  <div class="d-flex">
    <div class="d-flex flex-grow-1 align-items-center">
      <div class="d-flex align-items-center justify-content-center">
        <img src="assets/images/Logo_simple.png" alt="Logo Vivien LEZIN"/>
      </div>
      <div class="p-2">
        <h1>VIVIEN LEZIN</h1>
        <h6>DEVELOPPEUR WEB FULLSTACK</h6>
      </div>
    </div>
  </div>
</header>
<div class="header-bottom ">
</div>
